.nav-bar {
	background: #2d373c;
}
.content {
	width: 100%;
	height: 100%;
}
.list-box {
	width: 100%;
	overflow-y: auto;
}
.item {
	width: 100%;
	height: 9rem;
	display: flex;
	display: -webkit-flex;
}
.item .item-imgs {
	width: 50%;
	height: 100%;
	padding: 0.5rem;
}
.item .item-imgs img {
	width: 100%;
	height: 100%;
	border-radius: 0.2rem;
}
.item .item-msgs {
	width: 50%;
	height: 100%;
	padding: 0.5rem;
}
.item-msgs .msg-title {
	font-size: 0.75rem;
	color: #0d8fef;
	margin: 0.5rem 0;
}
.item-msgs .msg-text {
	font-size: 0.65rem;
	color: #6a6a6a;
}

.footer-text {
	width: 100%;
	margin-top: 1.5rem;
	height: 3rem;
	
}
.footer-text p {
	text-align: center;
	color: #0d8fef;
	font-size: 0.7rem;
	line-height: 1.2rem;
}